# Test the result data from ELT Pipline

## Install and Import required packaged

In [ ]:
! pip install psycopg2-binary pandas sqlalchemy ipykernel

In [6]:
import os
import pandas as pd
from sqlalchemy import create_engine

## Create Connection String and Connect to Data Warehose

In [13]:
user = os.getenv("DATA_WAREHOUSE_POSTGRES_USER")
password = os.getenv("DATA_WAREHOUSE_POSTGRES_PASSWORD")
port = os.getenv("DATA_WAREHOUSE_POSTGRES_PORT")
db = os.getenv("DATA_WAREHOUSE_POSTGRES_DB")

engine = create_engine(
    f"postgresql+psycopg2://{user}:{password}@localhost:{port}/{db}"
)

## Result

### food_sales Table

In [ ]:
query = """

SELECT *
FROM food_sales
LIMIT 10

"""

df = pd.read_sql(query, engine)
df

,id,date,region,city,category,product,qty,unitprice,totalprice,created_at,updated_at
0,ID07351,2022-01-01,East,Boston,Bars,Carrot,33,1.77,58.41,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
1,ID07352,2022-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
2,ID07353,2022-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
3,ID07354,2022-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
4,ID07355,2022-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
5,ID07356,2022-01-16,East,Boston,Bars,Carrot,54,1.77,95.58,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
6,ID07357,2022-01-19,East,Boston,Crackers,Whole Wheat,149,3.49,520.01,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
7,ID07358,2022-01-22,West,Los Angeles,Bars,Carrot,51,1.77,90.27,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
8,ID07359,2022-01-25,East,New York,Bars,Carrot,100,1.77,177.00,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394
9,ID07360,2022-01-28,East,New York,Snacks,Potato Chips,28,1.35,37.80,2026-02-07 20:09:13.817394,2026-02-07 20:09:13.817394

### cate_reg Table

In [15]:
query = """

SELECT *
FROM cat_reg

"""

df = pd.read_sql(query, engine)
df

   category     east    west  grand_total
0      Bars   6355.0  4180.0      10536.0
1   Cookies  10684.0  6529.0      17212.0
2  Crackers   3026.0   314.0       3340.0
3    Snacks   1460.0   778.0       2238.0